/* Custom Property */
:root {
  --font-size: 30px;
}
.custom-property {
  font-size: var(--font-size);
}

/* Reduced Calc */
.reduced-calc {
  font-size: calc(var(--font-size) * 2);
}

/* Filter */
.filter {
    filter: blur(1px);
}

/* Custom Selectors */
@custom-selector :--custom-selectors .custom-selectors-1, .custom-selectors-2, .custom-selectors-3;

:--custom-selectors {
  color: red;
}
