/* Custom Property */
:root {
  --font-size: 30px;
}
.custom-property {
  font-size: var(--font-size);
}

/* Reduced Calc */
.reduced-calc {
  font-size: calc(var(--font-size) * 2);
}

/* Filter */
.filter {
    filter: blur(1px);
}

/* Custom Selectors */
@custom-selector :--custom-selectors .custom-selectors-1, .custom-selectors-2, .custom-selectors-3;

:--custom-selectors {
  color: red;
}

/* CSS Color Module Level 4 */

/** #rrggbbaa **/
.colors-rrggbbaa-color {
  background: #00000033;
}

/** rgba() **/
.colors-rgba-function {
  background: rgba(0,0,0,0.2);
}

/** gray() **/
.colors-gray-function {
  background: gray(0,0.2);
}

/** hwb() **/
/* @see: https://triple-underscore.github.io/css-color-ja.html#the-hwb-notation */
.colors-hwb-function {
  background: hwb(0, 0%, 100%, 0.2); /* hwb( <hue>, <white-percentage>, <black-percentage> [, <alpha-value> ]? ) */
}

/** color() **/
/** @see [11. Modifying Colors: the color-mod() function - CSS Color Module Level 4](https://drafts.csswg.org/css-color-4/#modifying-colors) **/
.colors-color-function {
  background: color(0 alpha(20%));
}

/** rebeccapurple color **/
.colors-rebeccapurple-color {
  background: rebeccapurple;
  color: #fff;
}

/* custom media queries */
@custom-media --custom-media-queries (max-width: 500px);

@media (--custom-media-queries) {
  .custom-media-queries {
    font-weight: bold;
  }
}

/* media queries ranges */
@media (width >= 500px) and (width <= 700px) {
  .media-queries-ranges {
    font-weight: bold;
  }
}

/* CSS Cascading & Inheritance */
.cascading-inheritance {
  font-size: 32px;
  background: #eee;
  padding: 5px;
}

.cascading-inheritance-reset {
  all: initial;
}

/* any-link pseudo class */
.any-link-pseudo-class:any-link {
  background-color: #ff0;
}

/* multiple matches pseudo class */
.multiple-matches-pseudo-class div:matches(.a, .c) {
  font-size: 24px;
  font-weight: bold;
}

/* multiple not pseudo class */
.multiple-not-pseudo-class div:not(.a, .c) {
  font-size: 24px;
  font-weight: bold;
}
