---
extends: airbnb

parser: babel-eslint

env:
  browser: true

rules:
  no-alert: 0
  no-console: 0
  no-lone-blocks: 0

settings:
  import/resolver:
    webpack:
      config: config/webpack.config.js
